@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --background: 330 20% 98%;
      --foreground: 330 8% 5%;
      --card: 330 20% 98%;
      --card-foreground: 330 8% 5%;
      --popover: 330 20% 98%;
      --popover-foreground: 330 8% 5%;
      --primary: 345 88% 51%;
      --primary-foreground: 330 8% 5%;
      --secondary: 213 81% 63%;
      --secondary-foreground: 330 8% 5%;
      --muted: 330 20% 20%;
      --muted-foreground: 328 8% 70%;
      --accent: 329 35% 75%;
      --accent-foreground: 330 8% 5%;
      --destructive: 0 85% 60%;
      --destructive-foreground: 330 8% 5%;
      --border: 330 20% 20%;
      --input: 330 20% 20%;
      --ring: 329 35% 40%;
      --radius: 0.5rem;
    }
   
    .dark {
      --background: 330 20% 2%;
      --foreground: 330 8% 95%;
      --card: 330 20% 2%;
      --card-foreground: 330 8% 95%;
      --popover: 330 20% 2%;
      --popover-foreground: 330 8% 95%;
      --primary: 345 88% 49%;
      --primary-foreground: 330 20% 2%;
      --secondary: 213 81% 37%;
      --secondary-foreground: 330 8% 95%;
      --muted: 330 20% 80%;
      --muted-foreground: 330 8% 95%;
      --accent: 329 35% 25%;
      --accent-foreground: 330 8% 95%;
      --destructive: 0 62% 30%;
      --destructive-foreground: 324 10% 10%;
      --border: 330 20% 60%;
      --input: 330 20% 80%;
      --ring: 329 35% 60%;
    }
  }

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body,
html,
:root {
  height: 100%;
}
